h1 {
  font-size: 70px;
}
#label-email{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0;
}
#email-output{
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

#pc-out,
#user-out {
  font-weight: bold;
  font-size: 90px;
}

#out-message {
  font-weight: bold;
  font-size: 30px;
}